.notYet {
    margin-top: 70px;
}

.order {
    display: flex;

    width: 95%;
    height: 45px;

    column-gap: 10px;
    margin-top: 4px;

    position: relative;
    left: -500px;

    transition: all 0.3s ease;

    align-items: center;
    justify-content: center;

    &__left {
        left: 0;
    }

    &__img {
        width: 45px;
        height: 45px;

        img {
            width: 100%;
        }
    }

    &__p {
        display: flex;
        width: calc(100% - 50px);
        height: 100%;

        align-items: center;
        justify-content: space-between;

        gap: 10px;

        &__but {
            display: flex;

            column-gap: 10px;

            button {
                border: 1px solid #393C49;
                border-radius: 8px;
            }

            p:nth-of-type(1) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
            }
        }

    }

}