.notSearch{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h1{
        font-size: 48px;
        color: #f8f8f8;
        display: inline-flex;
    }
    p {
        color: #E0E6E9;
    }

}