.mainFoodList {
    width: 100%;
    height: calc(100vh - 151px);
    overflow-y: scroll;

    h2 {
        margin-top: 25px;
    }
}

.foodList {
    width: 100%;
    display: flex;

    margin-top: 70px;
    flex-wrap: wrap;
    padding: 5px;
    column-gap: 67px;
    row-gap: 75px;
}


.not_found {
    margin-top: 25px;
}

.mainFoodList::-webkit-scrollbar {
    display: none;
}
