.header {
    width: 100px;
    height: 100vh;

    background-color: #1F1D2B;
    border-radius: 0 16px 16px 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;


    &__nav {
        width: 50px;
        margin-top: 25px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        row-gap: 15px;

        position: relative;

        span {
            position: absolute;
            width: 70px;
            height: 70px;
            background: #252836;
            border-radius: 12px 0px 0px 12px;
            box-shadow: 15px 0 #252836;

            transition: 0.3s ease;
            z-index: 0;
        }

        a {
            width: 75px;
            height: 75px;

            display: flex;
            align-items: center;
            justify-content: center;


            img {

                z-index: 1;
            }
        }

        a:nth-of-type(1) {
            width: 100%;
            height: 100%;
        }

        a:nth-of-type(2) {
            margin: 10px 0;
        }
    }
}

.noActiveBox {
    img:last-of-type {
        display: none;
        box-shadow: 0 0 40px 40px #EA736D inset, 0 0 0 0 #EA736D;
    }

    img {
        padding: 15px;
    }

    img:hover {
        border-radius: 8px;
        box-shadow: 0 0 10px 0 #EA736D inset, 0 0 10px 4px #EA736D;
        transition: all 150ms ease-in-out;
    }

    img:active {
        background: #EA736D;
        transition: 0.1s;
    }
}

a.activeBox {
    img {

        padding: 15px;
        background-color: #EA736D;
        border-radius: 8px;
    }

    img:first-of-type {
        display: none;
    }
}

.home {
    top: 84px;
}

.notification {
    top: 184px;
}