.buyForm {
    width: 500px;
    height: 100vh;

    position: fixed;
    right: -100%;
    z-index: 3;

    transition: 0.3s;
    background-color: #1F1D2B;

    border-radius: 16px 0 0 16px;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    box-sizing: border-box;

    padding: 25px;

    button {
        outline: none;
        background: none;
        border: none;
    }
}

.butNone {
    position: absolute;
    top: 25px;
    left: 25px;
    transform: rotate(180deg);
}

.formLine {
    margin: 25px 0;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #393C49;


}

.formik {
    display: flex;

    flex-wrap: wrap;

    height: min-content;

    gap: 16px;
    padding: 3px;

    span {
        color: red;
    }

    label {
        margin-left: 5px;
        font-size: 16px;
    }

    &__margins {

        position: relative;
        width: 45%;
        height: min-content;

        &>input {
            box-sizing: border-box;
            width: 100%;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: transparent;
            transition: outline-color 500ms;

            -webkit-background-clip: text;
            -webkit-text-fill-color: white;
        }

        input:focus {
            outline-color: #EA736D;
        }

        input:valid {
            outline-color: #EA736D;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            translate: 10px 10px;
            color: white;
            transition: translate 500ms, scale 500ms;
        }

        input:focus+label,
        input:valid+label {
            padding-inline: 4px;
            translate: 10px -10px;
            scale: 0.8;
            background-color: #1F1D2B;
        }
    }

    &__house {
        display: flex;
        flex-direction: row;

        column-gap: 10px;
        margin-top: 5px;

        div {
            display: flex;
            flex-direction: column;
        }

        input {

            width: 100%;
            height: 45px;
            box-sizing: border-box;

            background: #2D303E;

            border-radius: 8px;

            margin-top: 5px;
            padding-left: 5px;

        }
    }

    &__ordersDishes {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 156px;
        gap: 3px;
        border: 1px solid #393C49;
        border-radius: 8px;

        align-items: center;

        overflow-y: scroll;
        scroll-behavior: unset;
    }

    &__ordersDishes::-webkit-scrollbar {
        display: none;
    }

    &__button {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__sub {
            display: flex;
            align-items: center;

            span:first-child {
                color: gray;
            }

            span:last-child {
                color: white;
                margin-left: 20px;
            }
        }

        button {
            width: 170px;
            height: 45px;
            border-radius: 8px;

            border: 2px solid #EA736D;
            color: #EA736D;
        }

        button:hover {
            box-shadow: 0 0 10px 0 #EA736D inset, 0 0 10px 1px #EA736D;
            transition: all 150ms ease-in-out;
        }

        button:active {
            background: #EA736D;
            transition: 0.1s;
            color: white;
        }

        button:disabled {
            border: 2px solid rgba(234, 115, 109, 0.5);
        }
    }
}

.errorBorder {
    outline: 2px solid red;
}

.notErrorBorder {
    outline: 2px solid #393C49;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.footerActive {
    display: flex;
    right: 0;
}

.footerNoActive {
    display: none;
}