.foodListItem {
    width: 180px;
    height: 240px;
    background: #1F1D2B;

    border-radius: 16px;

    position: relative;

    bottom: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

    gap: 15px;
    padding: 10px;

    opacity: 0;
    transform: translateY(60px);
    transition: transform 1s ease .22s, opacity 1s ease .32s, bottom 0.3s ease 0s;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &:hover {
        bottom: 20px;

        &::before {
            padding-bottom: 20px;
        }
    }

    &.acttive {
        opacity: 1;
        transform: translateY(0);
    }


    img {
        position: absolute;
        top: -36px
    }

    button {
        width: 170px;
        height: 50px;
        background: #1F1D2B;

        outline: none;
        border: none;

        font-weight: 600;
        border-radius: 8px;

        border: 2px solid #EA736D;
        color: #EA736D;
    }

    button:hover {
        box-shadow: 0 0 10px 0 #EA736D inset, 0 0 10px 1px #EA736D;
        transition: all 150ms ease-in-out;
    }

    button:active {
        background: #EA736D;
        transition: 0.1s;
        color: white;
    }

    p {
        width: 150px;
    }

}